@model OperaWebSite.Models.Opera

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h1> Registrar</h1>
    @using (Html.BeginForm("Create", "Opera", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(model=>model.Title)
            @Html.TextBoxFor(model=>model.Title)
            @Html.ValidationMessageFor(model=>model.Title)
        </p>
        <p>
            @Html.LabelFor(model=>model.Composer)
            @Html.TextBoxFor(model=>model.Composer)
            @Html.ValidationMessageFor(model=>model.Composer)
        </p>
        <p>
            @Html.LabelFor(model=>model.Year)
            @Html.TextBoxFor(model=>model.Year)
            @Html.ValidationMessageFor(model=>model.Year)
        </p>

        <input type="submit" action="Crear" />

        @Html.ActionLink("Volver a Index", "Index", "Opera")
    }

</body>
</html>
